<!DOCTYPE html>
<html>
	<head> 
		<title>Open Bands</title> 
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/style-index.css">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
  		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	</head>
	
	<body> 
		<div class="session-top">
			<!-- LOGO -->
			<div class="session-logo">
				<img src="imagens/microfone-logo2.png">
				OPEN BANDS
			</div>
			<!-- FIM DA LOGO -->

			<!-- NAV -->
			<nav class="session-nav">
				<ul>
          			<li><a href="#">HOME</a></li>
          			<li><a href="#">PRODUTOS</a></li>
          			<li><a href="#">HELP</a></li>
        		</ul>
			</nav>
			<!-- FIM NAV -->

			<!-- SESSION INFO -->
			<div class="session-account"> 
					Bem-vinda, Gabriela Cavalcante
					<ul> 
          				<li><a href=""><i class="icon-signout"></i>Logout</a></li>
          				<li><a href="#"><i class="icon-cog"></i>Account Settings</a></li>
          			</ul>
			</div>
			<!-- FIM DA SESSION INFOR -->

			<!-- <div class="session-account"> 
				<%= if usuario.logado == yes %=>
					Bem-vindo  <%= usuario.name =%>
					<ul> 
          				<li><a href=""><i class="icon-signout"></i>Logout</a></li>
          				<li><a href="#"><i class="icon-cog"></i>Account Settings</a></li>
        			</ul>
        		<%= else =%>
        			<ul>
          				<li><a href=""> <i class="icon-create"></i>Cadastrar</a></li>
        			</ul>
        		<%= end =%>
			</div> -->
			<!-- FIM SESSION INFOR -->

			<!-- SIDEBAR -->
			<aside class="sidebar">
				<!--<div class="img-logo2">
					<img src="imagens/microfone-logo.png">
				</div> -->
				<div class="CD">
					CD
					<ul> 
						<li><a href="#"> Axé </a></li>
						<li><a href="#"> Clássico </a></li>
						<li><a href="#"> Sertanejo </a></li>
						<li><a href="#"> Gospel </a></li>
						<li><a href="#"> Hard Rock </a></li>
						<li><a href="#"> Infantil </a></li>
						<li><a href="#"> Jazz </a></li>
						<li><a href="#"> MPB </a></li>
						<li><a href="#"> POP </a></li>
						<li><a href="#"> Reggae </a></li>
						<li><a href="#"> Rock </a></li>
						<li><a href="#"> Samba </a></li>
						<li><a href="#"> Pagode </a></li>
					</ul>
				</div>

				<div class="DVD">
					DVD
					<ul> 
						<li><a href="#"> Axé </a></li>
						<li><a href="#"> Clássico </a></li>
						<li><a href="#"> Sertanejo </a></li>
						<li><a href="#"> Gospel </a></li>
						<li><a href="#"> Hard Rock </a></li>
						<li><a href="#"> Infantil </a></li>
						<li><a href="#"> Jazz </a></li>
						<li><a href="#"> MPB </a></li>
						<li><a href="#"> POP </a></li>
						<li><a href="#"> Reggae </a></li>
						<li><a href="#"> Rock </a></li>
						<li><a href="#"> Samba </a></li>
						<li><a href="#"> Pagode </a></li>
					</ul>
				</div>


			</aside>
			<!-- FIM SIDEBAR -->

		</div>
	</body>
</html>