<!DOCTYPE html>
<html>
	<head> 
		<title>Open Bands</title> 
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/style-index.css">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
  		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	</head>
	
	<body> 

		<!-- SESSION -->
		<div class="session-top">

			<!-- LOGO -->
			<div class="session-logo">
				<img src="imagens/microfone-logo2.png">
				OPEN BANDS
			</div>
			<!-- FIM DA LOGO -->

			<!-- NAV -->
			<nav class="session-nav">
				<ul>
          			<li><a href="#">HOME</a></li>
          			<li><a href="#">CDs</a></li> 
          			<li><a href="#">DVDs</a></li> 
          			<li><a href="#">MpB</a></li>
          			<li><a href="#">HELP</a></li>
        		</ul>
			</nav>
			<!-- FIM NAV -->

			<!-- SESSION INFO -->
			<div class="session-account"> 
					Bem-vinda, Gabriela Cavalcante
					<ul> 
          				<li><a href=""><i class="icon-signout"></i>Logout</a></li>
          				<li><a href="#"><i class="icon-cog"></i>Account Settings</a></li>
          			</ul>
          			<!-- ELSE 
          			<ul>
          				<li><a href=""> <i class="icon-create"></i>Cadastrar</a></li>
        			</ul> -->
			</div>
			<!-- FIM DA SESSION INFOR --> 

		</div>
		<!-- FIM SESSION -->

		<!-- SIDEBAR -->
		<div class="sidebar">
			<div class="login">
				<p> Login </p>
				<form action="/cadastrar" method="POST">
 				Email:<input type="text" name="email" /> 
 				Senha: <input type="text" name="senha" />
				<input type="submit" value="Cadastrar" /> 
				</form>	
			</div>  
			<div class="menu">
				<div class="CD-DVD"> 
					<h2>CD/DVD</h2>
					<ul>  
						<li><a href="#"> Sertanejo </a></li>
						<li><a href="#"> Gospel </a></li> 
						<li><a href="#"> Infantil </a></li> 
						<li><a href="#"> MPB </a></li>
						<li><a href="#"> POP </a></li>
						<li><a href="#"> Reggae </a></li>
						<li><a href="#"> Rock </a></li>
						<li><a href="#"> Samba </a></li> 
					</ul>
				</div> 
			</div>
		</div>
		<!-- FIM SIDEBAR -->

		<!-- LIST -->
		<section class="product">
			<div class="mais-vendidos">
				<ul class="list-product">
					<li>
						<div class="list-cover"></div>
						<h3>PRODUTO1</h3>
						<h4> Preço: </h4>
						<h4> Artista: </h4>
						<a href="#"></a>
					</li>
					<li>
						<div class="list-cover"></div>
						<h3>PRODUTO2</h3>
						<h4> Preço: </h4>
						<h4> Artista: </h4>
						<a href="#"></a>
					</li>
					<li>
						<div class="list-cover"></div>
						<h3>PRODUTO3</h3>
						<h4> Preço: </h4>
						<h4> Artista: </h4>
						<a href="#"></a>
					</li>
					<li>
						<div class="list-cover"></div>
						<h3>PRODUTO4</h3>
						<h4> Preço: </h4>
						<h4> Artista: </h4>
						<a href="#"></a>
					</li>
					<li>
						<div class="list-cover"></div>
						<h3>PRODUTO5</h3>
						<h4> Preço: </h4>
						<h4> Artista: </h4>
						<a href="#"></a>
					</li>
				</ul>
			</div>
		</section>
		<!-- FIM LIST -->
	</body>
</html>